# Port for the backend server (Express)
APP_PORT=5000

# Database configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=USER
DB_PASSWORD=DB_PASSWORD
DB_NAME=YourDBName

# Frontend URL (for CORS configuration)
FRONTEND_URL=http://localhost:5173 

EMAIL_USER=emailoftheserver # email which the server will use to contact the users
EMAIL_PASSWORD=password # password of the email
APP_SECRET=cookieSecret # secret key for the cookies